#menu_button_perfect.menu_button_perfect_styles {
    width: auto;
    height: auto;
    z-index: 7777;
}
#menu_button_perfect.menu_button_perfect_styles .button_meu_perfect{
    position: fixed;
}
#menu_button_perfect.menu_button_perfect_styles #menu_button_perfect_list{
    position: fixed;
    z-index: 777;
}


#menu_button_perfect.menu_button_perfect_styles .menu li {
    list-style: none!important;
}

#menu_button_perfect.menu_button_perfect_position_right_bottom .button_meu_perfect{
    bottom: 20px;
    right: 20px;
}

#menu_button_perfect.menu_button_perfect_position_left_bottom .button_meu_perfect{
    bottom: 20px;
    left: 20px;
}

#menu_button_perfect.menu_button_perfect_position_right_top .button_meu_perfect{
    top: 20px;
    right: 20px;
}



#menu_button_perfect.menu_button_perfect_position_left_top .button_meu_perfect{
    top: 20px;
    left: 20px;
}

#menu_button_perfect.menu_button_perfect_structure_tree {}



#menu_button_perfect .button_meu_perfect {
    width: 100px;
    height: 100px;
    position: relative;
    z-index: 7777;
    cursor: pointer;
}

#menu_button_perfect .button_meu_perfect>* {
    position: absolute;
    /* font-size: 20px; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) translateZ(0);
}

#menu_button_perfect #menu_button_perfect_list li {
    height: 80px;
    width: 80px;
    text-align: center;
    padding: 10px;
    position: relative;
}

#menu_button_perfect #menu_button_perfect_list li  a{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) translateZ(0);
}

#menu_button_perfect #menu_button_perfect_list {
    overflow: hidden;
    opacity: 0;
    position: absolute;
}

#menu_button_perfect.menu_button_perfect_structure_vertical_line #menu_button_perfect_list{
    max-height: 0;
    bottom: 0;
    transition: opacity 0.2s ease, max-height 2s ease;
    text-align: center;
    left: 20px;
    width: 100px;
    height: 100%;
}
#menu_button_perfect.menu_button_perfect_structure_vertical_line #menu_button_perfect_list li{
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 10px;
}


#menu_button_perfect.menu_button_perfect_structure_vertical_line #menu_button_perfect_list.show_menu_toogle_vertical_line {
    opacity: 1;
    max-height: 2000px
}




#menu_button_perfect.menu_button_perfect_structure_horizontal_line{
    width: 100%;
}

#menu_button_perfect.menu_button_perfect_structure_horizontal_line #menu_button_perfect_list{
    max-width: 0;
    bottom:20px;
    height: 100px;
    left: 40px;
    transition:  0.4s ease;
    width: 100%;
    display: inline-block;
    margin-bottom: 0;
}

#menu_button_perfect #menu_button_perfect_list li{
    position: absolute;
}

#menu_button_perfect.menu_button_perfect_structure_horizontal_line #menu_button_perfect_list li{
    display: block;
    margin-right: 20px;
    margin-top: 10px;
    display: inline-block;
}




#menu_button_perfect.menu_button_perfect_structure_horizontal_line #menu_button_perfect_list.show_menu_toogle_horizontal_line {
    opacity: 1;
    max-width: 1920px;
}

#menu_button_perfect.menu_button_perfect_position_right_bottom.menu_button_perfect_structure_horizontal_line #menu_button_perfect_list,
#menu_button_perfect.menu_button_perfect_position_right_bottom.menu_button_perfect_structure_vertical_line #menu_button_perfect_list
 {
    right: 20px;
    left: inherit;
} 

#menu_button_perfect.menu_button_perfect_position_right_top.menu_button_perfect_structure_vertical_line #menu_button_perfect_list
{
    right: 20px;
    left: inherit;
    bottom: inherit;
    top: 40px;
}
#menu_button_perfect.menu_button_perfect_position_left_top.menu_button_perfect_structure_vertical_line #menu_button_perfect_list{
    left: 20px;
    right: inherit;
    bottom: inherit;
    top: 40px;
}
#menu_button_perfect.menu_button_perfect_structure_vertical_line.menu_button_perfect_position_left_bottom #menu_button_perfect_list,
#menu_button_perfect.menu_button_perfect_structure_vertical_line.menu_button_perfect_position_right_bottom #menu_button_perfect_list{
    bottom: 20px
}

#menu_button_perfect.menu_button_perfect_position_right_top.menu_button_perfect_structure_horizontal_line #menu_button_perfect_list {
    right: 20px;
    left: inherit;
    bottom: inherit;
    top:20px;
}

#menu_button_perfect.menu_button_perfect_position_left_top.menu_button_perfect_structure_horizontal_line #menu_button_perfect_list {
    top:20px;
}



.close_button{
    width: 30px;
    height: 30px;
    opacity: 0;
    transition: 0.4s ease;
}
.close_button:before{
    position: absolute;
    content: '';
    border-left: 2px solid;
    height: 100%;
    left: 50%;
    top: 0;
    transform: rotate(45deg);

}
.close_button:after{
    position: absolute;
    content: '';
    border-left: 2px solid;
    height: 100%;
    left: 50%;
    top: 0;
    transform: rotate(-45deg);

}
.hide-menu_name{
    opacity: 0;
}
.close_button.show-close{
    opacity: 1;
}

#menu_button_perfect .button_meu_perfect i,
#menu_button_perfect .button_meu_perfect span{
    transition: 0.4s ease;
}

#menu_button_perfect.from_menu_bubble #menu_button_perfect_list li,
#menu_button_perfect.from_menu_bubble .button_meu_perfect{
    border-radius: 50%;
}
#menu_button_perfect #menu_button_perfect_list li,
#menu_button_perfect #menu_button_perfect_list li a{
    color: inherit!important;
}
#menu_button_perfect #menu_button_perfect_list li a{
    font-size: inherit!important;
}

#menu_button_perfect #menu_button_perfect_list{
    margin-left: 0!important;
    padding-left: 0 !important;
}

#menu_button_perfect #menu_button_perfect_list a{
   text-decoration: none !important
}


@media(max-width:1023px){
    .no_mobile_menu_button{
        display: none;
    }
    
}